* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    color: #4283A7;
}
h1 {
    font-size: 35px;
    font-weight:normal;
    overflow:visible;
    padding:0px;
    text-align:center;
}
h2{
    position: absolute;
    top: 95%;
    left: 83%;
}
.app-container {
    position:absolute;  
    left:23%;
    top:15%;
    width: 700px;
    height: 500px;
    text-align:center;
}
.app{
    height: 100px;
    width: 100px;
    background-color: inherit;
    margin: 40px;
    border-radius: 25%;
    position: relative;
    float: left;
    box-shadow: 5px 5px 5px #888888;
}
.app:hover{
    opacity: .7;
}
.app-link, .app-link img{
    width: 100px;
    height: 100px;
    border-radius: 25%;
}
